<launch>
    <param name="use_sim_time" value="true" />
    <arg name="play_bagfile" default="$(find rosbag_play)/rosbag/spinbag.bag"/>
    <arg name="save_bagfile" default="$(find rosbag_play)/rosbag/undist_spindata.bag"/>
    <arg name="record"  default="false"/>

    <arg name="map_dir" default="$(find rosbag_play)/maps/spinmap"/>

    <!-- lidar undistortion -->
    <node name="lidar_undistortion_node" pkg="lidar_undistortion"  type="lidar_undistortion" output="screen">
        <param name="lidar_topic" value="/locobot/scan"/>
        <param name="lidar_msg_delay_time" value="10.0"/>
        <param name="scan_direction_clockwise" value="true"/>
        <param name="imu_topic" value="/wit/imu"/>
        <param name="imu_frequency" value="200.0"/>
        <param name="output_frame_id" value="locobot/laser_frame_link"/>
        <param name="pub_raw_scan_pointcloud" value="true"/>
        <param name="pub_laserscan" value="true"/>
        <param name="laserscan_angle_increment" value="0.008"/>
        <param name="use_range_filter" value="true"/>
        <param name="range_filter_min" value="0.2"/>
        <param name="range_filter_max" value="12.0"/>
        <param name="use_angle_filter" value="true"/>
        <param name="angle_filter_min" value="-3.14"/>
        <param name="angle_filter_max" value="3.14"/>
        <param name="use_radius_outlier_filter" value="true"/>
        <param name="radius_outlier_filter_search_radius" value="0.1"/>
        <param name="radius_outlier_filter_min_neighbors" value="2"/>
  </node>

    <!-- cartographer localization -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find rosbag_play)/config
            -configuration_basename locobot_localization.lua
            -load_state_filename $(arg map_dir)/map.pbstream"
        output="screen">
        <remap from="/imu" to="/wit/imu" />
        <remap from="/scan" to="/lidar_undistortion/scan" />
        <remap from="/odom" to="/locobot/mobile_base/odom" />
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node" args="-resolution 0.01" />

    <!-- rviz -->
    <include file="$(find interbotix_xslocobot_descriptions)/launch/remote_view.launch"/>

    <!-- rosbag record -->
    <node if="$(arg record)" name="rosbag_record" pkg="rosbag" type="record" args="--lz4 --repeat-latched -a -O $(arg save_bagfile)" output="screen" />

    <!-- rosbag play -->
    <node name="player" pkg="rosbag" type="play" output="screen" args="--clock --rate=1.0 $(arg play_bagfile)" />

</launch>